<!-- templates/hasil_klasifikasi.html -->
{% extends "base.html" %} {% block content %}
<div class="sidebar">
  <h1 class="sidebar-title">
    ANALISIS<br />SENTIMEN<br />INSTITUSI<br />POLRI
  </h1>
  <div class="sidebar-menu">
    <a href="{{ url_for('kelola_data') }}" class="menu-item">Kelola Data</a>
    <a href="{{ url_for('processing') }}" class="menu-item">Processing</a>
    <a href="{{ url_for('hasil_klasifikasi') }}" class="menu-item active"
      >Hasil Klasifikasi</a
    >
    <a href="{{ url_for('uji_coba') }}" class="menu-item">Uji Coba</a>
  </div>
</div>

<div class="main-content">
  <div class="content-header">
    <h2>Hasil Klasifikasi</h2>
  </div>

  <div class="content-text">
    <p>
      Hasil analisis sentimen terhadap institusi POLRI berdasarkan data yang
      telah dikumpulkan dari media sosial. Klasifikasi menggunakan berbagai
      metode machine learning untuk membandingkan akurasi.
    </p>
  </div>

  <div class="results-container">
    <h3 style="text-align: center">Classification Result</h3>
    <div class="model-result">
      <h3>Data Testing Result :</h3>
      <p>{{ accuracy }}%</p>
    </div>
    {% if preview_data %} {{ report|safe }} {% endif %}
  </div>

  <div class="classification-results">
    <div class="chart-container">
      <h3>Distribusi Sentimen</h3>
      <div class="chart">
        <h3 style="text-align: center">Distribusi Sentimen</h3>
        <img src="data:image/png;base64,{{ bar_chart }}" alt="Bar Chart" />
      </div>
      <div class="chart">
        <h3 style="text-align: center">Proporsi Sentimen</h3>
        <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart" />
      </div>
    </div>

    <div class="wordcloud-container">
      <h3>Word Cloud Analisis Sentimen</h3>
      <img src="data:image/png;base64,{{ wordcloud }}" alt="Word Cloud" />
    </div>
  </div>
</div>
{% endblock %}
